@media only screen and (max-width: 1800px) {

	/*-- Header --*/

	.main_nav li {
	    padding: 5px 20px;
	}

	/*-- /Header --*/

}

@media only screen and (max-width: 1700px) {

	/*-- Header --*/

	.main_nav li {
	    padding: 5px 14px;
	}

	/*-- /Header --*/

}

@media only screen and (max-width: 1600px) {

	/*-- Header --*/

	.main_nav li {
	    padding: 5px 7px;
	}

	.left_col_1 {
	    width: 240px;
	}

	.left_col_2 {
	    width: calc(100% - 240px);
	}

	.right_col_1 {
	    width: calc(100% - 205px);
	}

	.right_col_2 {
	    width: 205px;
	}

	/*-- /Header --*/

}

@media only screen and (max-width: 1450px) {

	/*-- Header --*/

	.header_site_templ .left {
	    width: 100px;
	}

	.header_site_templ .right {
	    width: 200px;
	}

	.header_contacts {
		display: none;
	}

	.left_col_1 {
	    width: 100px;
	}

	.left_col_2 {
		display: none;
	}

	.right_col_1 {
		display: none;
	}

	.right_col_2 {
		width: 200px;
	}

	.logo_resp {
		display: block;
	}

	.header_site_templ .center {
		width: calc(100% - 300px);
	}

	.header_site_templ .center .logo {
		display: none;
	}

	.desc_nav {
		display: none !important;
	}

	.main_nav_resp {
		display: block;
		padding-top: 9px;
	}

	.main_nav_resp .main_nav li {
	    padding: 5px 13px;
	}

	.main_nav li ul li a {
	    font-size: 19px;
	}

	/*-- /Header --*/

	/*-- Section 2 - Main Page --*/

	.catalog_templ .left {
	    width: 230px;
	}

	.catalog_templ .right {
	    width: calc(100% - 230px);
	}

	/*-- /Section 2 - Main Page --*/

}


@media only screen and (max-width: 1240px) {

	.row {
		padding: 0 25px;
	}

	h1 {
	    font-size: 44px;
	}

	/*-- Header --*/

	.header_site_templ {
	    padding: 10px 25px;
	}

	.main_nav li {
	    padding: 5px 11px;
	}

	.main_nav li a {
	    font-size: 16px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Questions Page --*/

	.questions_article .left {
	    width: 560px;
	}

	.questions_article .right {
	    width: calc(100% - 560px);
	}

	.questions_article .right img {
	    left: 7%;
	}

	/*-- /Section 1 - Questions Page --*/


}

@media only screen and (max-width: 1124px) {

	h2 {
	    font-size: 25px;
	}

	/*-- Section 2 - Main Page --*/

	.catalog_templ {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.catalog_templ .left {
	    width: 100%;
	}

	.catalog_templ .right {
	    width: 100%;
	    padding-left: 0;
	}

	.sidebar_filters_thumbnails {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		margin: 0;
	}

	.sidebar_filters {
		width: 25%;
		padding: 10px 10px;
	}

	.checkboxes_scrollbox {
	    max-height: 135px;
	}

	/*-- /Section 2 - Main Page --*/

}


@media only screen and (max-width: 1024px) {

	.wrapper {
	    padding-top: 80px;
	}

	/*-- Header --*/

	.header_site {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 4;
		-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.3);
		-moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.3);
		box-shadow: 0 3px 5px 0 rgba(0,0,0,.3);
	}

	.header_site_templ {
		padding-right: 65px;
	}

	.header_site_templ .left {
	    width: calc(100% - 200px);
	}

	.header_site_templ .center {
	    width: 0;
	}

	.respmenubtn {
		position: absolute;
	    top: 17px;
	    right: 10px;
	}

	#resp_nav {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		margin: 0;
		padding: 60px 0 50px 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 13;
		background-color: #fff;
	}

	.main_nav {
		display: block;
		box-shadow: none;
		border-radius: 0;
	}

	.main_nav li {
		display: block;
	    padding: 5px;
	}

	.main_nav li a {
		white-space: normal;
		display: block;
		padding: 5px 0;
		text-align: center;
		font-size: 22px;
		line-height: 22px;
	}

	.main_nav li a:before {
		display: none;
	}

	.main_nav li ul {
		display: none;
	    width: 100%;
	    max-width: 480px;
	    margin-top: 0;
	    position: relative;
	    top: 9px;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}

	.main_nav li:hover ul {
		margin-top: 0;
	    top: 9px;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}

	.main_nav li ul:before {
	    left: 50%;
	    margin-left: -10px;
	}

	.main_nav li ul li {
		text-align: center;
	}

	.respmenubtn {
		display: block;
	}

	.main_nav li a:after {
		bottom: -8px;
	}

	.main_nav li .dropdown_btn {
		display: block;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.fiter_sect .left {
		width: 100%;
	    padding-bottom: 0;
	    position: relative;
	    z-index: 2;
	}

	.fiter_sect .right {
		display: none;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 1 - Questions Page --*/

	.questions_article .left {
	    width: 100%;
	}

	.questions_article .right {
	    display: none;
	}

	/*-- /Section 1 - Questions Page --*/

	/*-- Footer --*/

	.footer_templ {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.footer_templ > .left,
	.footer_templ > .right {
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 900px) {

/*-- Header --*/

h1 {
    font-size: 40px;
}

/*-- Header --*/

/*-- Section 1 - Main Page --*/

.h1_wrapp {
    padding: 25px 0;
}

.filters_form_wrapp {
    padding: 10px 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.filters_wrapp_2 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.filters_wrapp_2 > div:nth-child(1),
.filters_wrapp_2 > div:nth-child(2) {
	width: 100%;
	padding: 5px 0;
}

.radio_filter {
    padding: 5px 10px;
}

.radio_filter span {
    font-size: 16px;
}

.resp_filter_btn {
	display: inline-block;
}

#filters {
	display: none;
}

.sidebar_filters {
	width: 33.33%;
	padding: 10px 10px;
}

.object_card {
    width: 100%;
    max-width: 600px;
    min-height: auto;
    margin: 10px auto;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 4 - Main Page --*/

.about_article .left {
    width: 35%;
}

.about_article .right {
    width: 65%;
    padding: 16px 0 0 20px;
}

.article_img_box {
    width: 37vw;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 3 - About Page --*/

.adv_thumbs_2 .adv_thumb {
    width: 50%;
}

/*-- /Section 3 - About Page --*/

/*-- Section 1 - Appartments Page --*/

.filters_form_wrapp_2 {
	box-shadow: none;
}

/*-- /Section 1 - Appartments Page --*/

}

@media only screen and (max-width: 767px) {

/*-- Header --*/

.header_site_templ {
    padding-right: 51px;
}

.header_site_templ .left {
    width: calc(100% - 150px);
}

.header_site_templ .right {
    width: 150px;
}

.right_col_2 {
    width: 150px;
}

.respmenubtn {
    top: 15px;
}

.red_pill {
    margin: 2px 0;
	padding: 9px 10px 10px 10px;
    font-size: 16px;
}

.logo_resp {
    width: 80px;
}

.right_col_2 {
    padding-top: 3px;
}

/*-- /Header --*/

/*-- Section 4 - Main Page --*/

.about_article {
	min-height: auto;
	position: relative;
}

.about_article .left {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.about_article .right {
    width: 100%;
    padding: 15px 0;
    position: relative;
    z-index: 2;
}

.about_article ul {
    padding-left: 10px;
}

.about_article p,
.about_article li {
	font-weight: normal;
}

.article_img_box {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: -25px;
    opacity: .2;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 1 - About Page --*/

.article_2 {
	position: relative;
	min-height: auto;
	padding: 20px 0;
}

.article_2 .left {
    width: 100%;
    padding: 20px 20px;
    position: relative;
    z-index: 2;
}

.article_2 .right {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.article_2_2 .img_box {
    height: 100%;
    width: 100%;
}

.article_2 p {    
    font-size: 18px;
    font-weight: 400;
}

/*-- /Section 1 - About Page --*/

/*-- Section 2 - Contacts Page --*/

.sect_2_cp {
    padding: 11px 0;
}

.ask_form_article {
    min-height: auto;
    margin-bottom: 20px;
}

.ask_form_article .left {
	display: none;
}

.ask_form_article .right {
    width: 100%;
    padding: 20px 0;
}

.ask_form_wrapp form {
    margin: 20px 0;
}

.ask_form {
    margin: 15px -10px;
}

.submit_wrapp button {
    min-width: 320px;
}

/*-- /Section 2 - Contacts Page --*/

/*-- Section 1 - Contacts Page --*/

.sect_1_cp {
    padding: 10px 0;
}

.contacts_templ {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    min-height: auto;
}

.contacts_templ .left,
.contacts_templ .right {
    width: 100%;
	padding: 5px 0;
}

.contacts_templ .right #map_2 {
    width: 100%;
    height: 300px;
    position: relative;
    left: 0;
}

.contacts_templ p {
    padding: 9px 0;
}

.submit_wrapp {
	text-align: center;
}

.submit_wrapp .red_pill {
	display: inline-block;
	vertical-align: top;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 1 - Questions Page --*/

.questions_article h1 {
    font-size: 39px;
}

.drpdown_item_header {
    padding: 15px 0 15px 40px;
}

.drpdown_item_header:before {
    top: 15px;
}

.drpdown_item_header h3 {
    font-size: 22px;
    line-height: 30px;
}

.questions_article .left {
    padding-bottom: 0;
}

/*-- /Section 1 - Questions Page --*/

/*-- Footer --*/

.corp_templ {
	margin: 10px 0;
}

.corp_templ > div:nth-child(1),
.corp_templ > div:nth-child(2) {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.corp_templ > div:nth-child(1):after {
	display: none;
}

/*-- /Footer --*/

/*-- Popups --*/

.popup_content {
	max-width: 90%;
}

.popup_content .inner {
    padding: 25px 30px 25px 30px;
}

.popup_header h3 {
    font-size: 25px;
}

.thanks_templ h2 {
    font-size: 28px;
}

.thanks_templ h3 {
    font-size: 25px;
}

/*-- /Popups --*/

}

@media only screen and (max-width: 750px) {

/*-- Section 2 - About Page --*/

.step_thumb_2 {
    width: 100%;
    padding: 15px 0 15px 130px;
    position: relative;
}

.step_thumb_2:after {
	display: none;
}

.step_thumb_2 .num {
	position: absolute;
	top: 0;
	left: 0;
}

/*-- /Section 2 - About Page --*/

}

@media only screen and (max-width: 600px) {

/*-- Header --*/

.header_site_templ {
    padding: 7px 55px 7px 15px;
}

.respmenubtn {
    top: 13px;
    right: 5px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.h1_wrapp {
    padding: 15px 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.radio_buttons_wrapp {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.radio_buttons_wrapp > div:nth-child(1) {
    width: 100%;
}

.radio_buttons_wrapp > div:nth-child(2) {
    width: 100%;
    margin: 0 -10px;
}

.sidebar_filters {
	width: 50%;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 2 - About Page --*/

.steps_thumbs_2 {
    margin: 0 -15px 30px -15px;
}

/*-- /Section 2 - About Page --*/

/*-- Section 3 - About Page --*/

.sect_3_ab {
    padding-top: 35px;
}

.adv_thumbs_2 {
    margin: 0;
}

.adv_thumbs_2 .adv_thumb {
    width: 100%;
	padding: 15px 0;
}

.adv_thumb .icon_box {
    top: 20px;
}

/*-- /Section 3 - About Page --*/

/*-- Section 3 - About Page --*/

.h2_wrapp {
    padding: 10px 0;
}

.testimonial {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.testimonial .left_col {
    width: 150px;
    margin: 0 auto;
}

.testimonial .right_col {
	width: 100%;
	text-align: center;
}

.testimonial_slider_arrows .slick-arrow {
    margin: 0 15px;
}

.testimonial .left_col .photo_box {
	margin: 0 auto;
}

/*-- /Section 3 - About Page --*/

/*-- Section 1 - Questions Page --*/

.questions_article h1 {
    font-size: 31px;
}

/*-- /Section 1 - Questions Page --*/

/*-- Footer --*/

.footer_templ > .left > div:nth-child(1) {
	width: 100%;
	padding: 10px 0;
}

.footer_templ > .left > div:nth-child(2) {
	width: 100%;
	padding: 10px 0;
}

/*-- /Footer --*/

/*-- Popups --*/

.ask_form .input_wrapp {
    width: 100%;
}

.map_popup_sect .map_popup {
	padding: 10px 10px;
}

#map_4 {
    height: 350px;
}

/*-- /Popups --*/

}

@media only screen and (max-width: 480px) {

h1 {
    font-size: 33px;
}

.row {
    padding: 0 15px;
}

/*-- Section 1 - Main Page --*/

.dropdown_box_wrapp {
	width: 170px;
}

.filters_wrapp > div {
	padding: 10px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sidebar_filters {
	width: 100%;
}

.radio_filter span {
    font-size: 18px;
}

.object_card .img_box {
    height: 175px;
}

.card_footer {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.card_footer > div:nth-child(1) {
    width: 100%;
    padding: 3px 0;
}

.card_footer > div:nth-child(2) {
    width: 100%;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding: 3px 0;
}

.pagination li {
    padding: 5px 8px;
}

.pagination li a {
    min-width: 23px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 2 - About Page --*/

.steps_thumbs_2 {
    margin: 0 0 30px 0;
}

.step_thumb_2 {
    padding: 15px 0 15px 80px;
}

.step_thumb_2 .num {
    width: 70px;
    height: 70px;
}

.step_thumb_2 .num p {
    font-size: 46px;
    line-height: 58px;
}

/*-- /Section 2 - About Page --*/

/*-- Section 3 - About Page --*/

.testimonial {
    padding: 18px 20px 20px 20px;
}

/*-- /Section 3 - About Page --*/

/*-- Section 2 - Appartments Page --*/

.map_wrapp_2 {
    margin-bottom: 60px;
}

/*-- /Section 2 - Appartments Page --*/

/*-- Footer --*/

.footer_nav li {
    width: 100%;
    padding: 5px 0;
}

.footer_templ > .right > div:nth-child(1),
.footer_templ > .right > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
    text-align: left;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 350px) {

	/*-- Section 1 - Main Page --*/

	.filters_wrapp {
	    margin: 0;
	}

	.input_wrapp {
	    width: 100%;
	}

	.dropdown_box_wrapp {
	    width: 100%;
	}

	.filters_wrapp > div {
		width: 100%;
	    padding: 10px 0;
	}

	.buttons_wrapp {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	    margin: 10px 0;
	}

	.buttons_wrapp > div {
		width: 100%;
	    padding: 5px 0;
	}

	.buttons_wrapp .red_pill {
	    min-width: 100%;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Popups --*/

	.popup_header h3 {
	    font-size: 23px;
	}

	.thanks_templ h2 {
	    font-size: 25px;
	}

	/*-- /Popups --*/

}

@media only screen and (min-width: 1025px) {

/*-- Header --*/

#resp_nav {
	display: block !important;
}

.main_nav li .dropdown_btn {
	display: none !important;
}

.main_nav li ul {
	display: block !important;
}

/*-- /Header --*/
	
}

@media only screen and (min-width: 1451px) {

	/*-- Header --*/

	.desc_nav {
		display: block !important;
	}

	#resp_nav {
		display: none !important;
	}

	/*-- /Header --*/
	
}

@media only screen and (min-width: 901px) {

	/*-- Header --*/

	#filters {
		display: block !important;
	}

	/*-- /Header --*/

}