@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "PF DinText Pro";
    src: url("fonts/PFDinTextPro-Light.eot");
    src: url("fonts/PFDinTextPro-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/PFDinTextPro-Light.woff2") format("woff2"),
        url("fonts/PFDinTextPro-Light.woff") format("woff"),
        url("fonts/PFDinTextPro-Light.ttf") format("truetype"),
        url("fonts/PFDinTextPro-Light.svg#fonts/PFDinTextPro-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PF DinText Pro";
    src: url("fonts/PFDinTextPro-Medium.eot");
    src: url("fonts/PFDinTextPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/PFDinTextPro-Medium.woff2") format("woff2"),
        url("fonts/PFDinTextPro-Medium.woff") format("woff"),
        url("fonts/PFDinTextPro-Medium.ttf") format("truetype"),
        url("fonts/PFDinTextPro-Medium.svg#fonts/PFDinTextPro-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PF DinText Pro";
    src: url("fonts/PFDinTextPro-Bold.eot");
    src: url("fonts/PFDinTextPro-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/PFDinTextPro-Bold.woff2") format("woff2"),
        url("fonts/PFDinTextPro-Bold.woff") format("woff"),
        url("fonts/PFDinTextPro-Bold.ttf") format("truetype"),
        url("fonts/PFDinTextPro-Bold.svg#fonts/PFDinTextPro-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Exo 2.0 Extra";
    src: url("fonts/Exo20-ExtraBold.eot");
    src: url("fonts/Exo20-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Exo20-ExtraBold.woff2") format("woff2"),
        url("fonts/Exo20-ExtraBold.woff") format("woff"),
        url("fonts/Exo20-ExtraBold.ttf") format("truetype"),
        url("fonts/Exo20-ExtraBold.svg#Exo2.0-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Exo 2.0";
    src: url("fonts/Exo20-Black.eot");
    src: url("fonts/Exo20-Black.eot?#iefix") format("embedded-opentype"),
        url("fonts/Exo20-Black.woff2") format("woff2"),
        url("fonts/Exo20-Black.woff") format("woff"),
        url("fonts/Exo20-Black.ttf") format("truetype"),
        url("fonts/Exo20-Black.svg#Exo2.0-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: "PF DinText Pro";
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #565353;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#a49f9f;}
::-moz-placeholder          {color:#a49f9f;}
:-moz-placeholder           {color:#a49f9f;}
:-ms-input-placeholder      {color:#a49f9f;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    letter-spacing: 5px;
    font-family: "Exo 2.0";
    font-size: 48px;
    line-height: 1.2;
    font-weight: 900;
    color: #565353;
}

h2 {
    font-family: "Exo 2.0";
    font-size: 30px;
    line-height: 1.2;    
    font-weight: 800;
    color: #565353;
}

h3 {
    font-family: "PF DinText Pro";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: #565353;
}

h4 {
    font-family: "PF DinText Pro";
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #565353;
}

p {
    font-family: "PF DinText Pro";
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #565353;
}

a {
    text-decoration: none;
    font-family: "PF DinText Pro";
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #565353;
}

li {
    list-style: none;
    font-family: "PF DinText Pro";
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #565353;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    opacity: .6;
    margin-top: -40px;
    background: #ffffff;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -webkit-transition-property: box-shadow, opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow, opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow, opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow, opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
}

.slick-arrow img {
    display: block;
    width: 36px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-prev {
    left: -21px;
}

.slick-prev img {
    left: -2px;
}

.slick-next {
    right: -21px;
}

.slick-next img {
    right: -6px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 2px solid #006df0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #006df0;
}

/*-- /Slick --*/

/*-- Breadcrumbs --*/

.breadcrumbs_wrapp {
    padding: 36px 0 12px 0;
    border-bottom: 1px solid #e5e5e5; 
}

.breadcrumbs {
    margin: 0 -12px;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
}

.breadcrumbs li:after {
    position: relative;
    top: -1px;
    left: 15px;
    content: "\2f";
    font-size: 18px;
    line-height: 23px;
    color: #b2b2b2;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li a {
    font-size: 18px;
    line-height: 20px;
    color: #741b75;
}

.breadcrumbs li a:link,
.breadcrumbs li a:visited {

}

.breadcrumbs li a:active,
.breadcrumbs li a.active {

}

.breadcrumbs li a:hover {

}

.breadcrumbs li:last-child a {
    pointer-events: none;
    cursor: default;
    color: #b2b2b2;
}

/*-- /Breadcrumbs --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site_templ {
    display: flex;
    display: -webkit-flex;
    padding: 20px 50px;
}

.header_site_templ .left {
    display: flex;
    display: -webkit-flex;
    width: calc(50% - 85px);
}

.header_site_templ .center {
    width: 190px;
    text-align: center;
}

.header_site_templ .right {
    display: flex;
    display: -webkit-flex;
    width: calc(50% - 85px);
}

.left_col_1 {
    width: 280px;
}

.left_col_2 {
    width: calc(100% - 280px);
}

.right_col_1 {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: calc(100% - 260px);
}

.right_col_2 {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 260px;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    display: block;
    width: auto;
    max-width: 100%;
}

.main_nav {
    padding: 2px 0;
}

.main_nav li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 30px;
}

.main_nav li a {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
    color: #4f4b4b;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link,
.main_nav li a:visited {
    color: #4f4b4b;
}

.main_nav li a:active,
.main_nav li a.active {
    color: #741b75;
}

.main_nav li a:hover {
    color: #741b75;
}

.main_nav li a:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background: #741b75;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link:after,
.main_nav li a:visited:after {
    opacity: 0;
}

.main_nav li a:active:after,
.main_nav li a.active:after {
    opacity: 1;
}

.main_nav li a:hover:after {
    opacity: 1;
}

.header_contacts {

}

.header_contacts p {
    padding: 2px 0;
    font-size: 17px;
    line-height: 20px;
    color: #4e4b4b;
}

.tel_link {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    color: #4f4b4b;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_link:link,
.tel_link:visited {
    color: #4f4b4b;
}

.tel_link:active,
.tel_link.active {
    color: #741b75;
}

.tel_link:hover {
    color: #741b75;
}

.red_pill {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: rgb(201, 64, 78);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    margin: 4px 0;
    padding: 10px 20px 11px 20px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.red_pill:link,
.red_pill.visited {
    color: #fff;
    background-color: rgb(201, 64, 78);
}

.red_pill:active,
.red_pill.active {
    color: #fff;
    background-color: #8a1723;
}

.red_pill:hover {
    color: #fff;
    background-color: #8a1723;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    width: 45px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 6px;
    z-index: 11;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: #466896;
    margin: 0 auto 7px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #e9ba5f;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #e9ba5f;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 5px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-- Header Inner --*/

.inner_header {
    width: 100%;    
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    background: #fff;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
}

/*-- /Header Inner --*/

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.sect_1_m_p {
    overflow: hidden;
}

.fiter_sect {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 12px 0;
}

.fiter_sect .left {
    width: 52%;
    padding-bottom: 44px;
}

.fiter_sect .right {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 48%;
    padding-left: 22px;
}

.switch_cities {
    display: flex;
    display: -webkit-flex;
}

.switch_cities > div:nth-child(1) {
    padding: 2px 10px 0 0;
}

.switch_cities > div:nth-child(2) {
    width: 55px;
}

.switch_cities > div:nth-child(3) {
    padding: 2px 0 0 10px;
}

.violet_link {
    border-bottom: 1px dotted #827c7c;
    font-size: 18px;
    line-height: 18px;
    color: #731974;
    font-weight: 600;
    -webkit-transition-property: color, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.violet_link:link,
.violet_link.visited {
    color: #731974;
    border-bottom: 1px dotted #731974;
}

.violet_link:active,
.violet_link.active {
    color: #827c7c;
    border-bottom: 1px dotted #827c7c;
}

.violet_link:hover {
    color: #827c7c;
    border-bottom: 1px dotted #827c7c;
}

.switch_chekbox {
    width: 55px;
    height: 25px;
    background-color: #f2f2f2;
    position: relative;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.switch_chekbox:before {
    display: block;
    content: "";
    width: 17px;
    height: 17px;
    background-color: #731974;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}

.switch_chekbox_2 {
    background-color: #ebd4eb;
}

.switch_chekbox_2:before {
    left: auto;
    right: 4px;
}

.h1_wrapp {
    padding: 34px 0 31px 0;
    position: relative;
}

.h1_wrapp:after {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #b98dba;
    position: absolute;
    bottom: 0;
    left: -130px;
}

.h1_wrapp h1 {

}

.up {
    text-transform: uppercase;
}

.red {
    color: #c9404e;
}

.filters_form_wrapp {
    padding: 20px 0;
}

.filters_wrapp {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -10px;
}

.filters_wrapp > div {
    padding: 15px 10px;
}

.filters_wrapp > div {

}

.input_wrapp {
    width: 129px;
}

.input_wrapp p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #4f4b4b;
}

.input_box {
    margin: 5px 0;
}

.input_box input {
    display: block;
    width: 100%;
    height: 31px;
    border: 1px solid transparent;
    border-bottom: 1px solid #dddddd;
    font-family: "PF DinText Pro";
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #a49f9f;
}

.dropdown_box_wrapp {
    width: 210px;
    position: relative;
}

.dropdown_box_header {

}

.dropdown_box_header p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #4f4b4b;
}

.dropdown_box_wrapp input {
    
}

.dropdown_box_title {
    display: block;
    width: 100%;
    height: 31px;
    margin: 5px 0;
    cursor: pointer;
    padding-right: 15px;
    position: relative;
    border: 1px solid transparent;
    border-bottom: 1px solid #dddddd;
}

.dropdown_box_title:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5.5px 0 5.5px;
    border-color: #a49f9f transparent transparent transparent;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown_box_title.active:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown_box_title p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #a49f9f;
}

.dropdown_box {
    display: none;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
}

.dropdown_box p {
    cursor: pointer;
    padding: 2px 0;
    font-size: 16px;
    line-height: 20px;
    color: #a49f9f;    
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown_box p:link,
.dropdown_box p.visited {
    color: #a49f9f;
}

.dropdown_box p:active,
.dropdown_box p.active {
    color: #741b75;
}

.dropdown_box p:hover {
    color: #741b75;
}

.input_wrapp_2 {
    width: 277px;
}

.inputs_two_cols {
    display: flex;
    display: -webkit-flex;
}

.inputs_two_cols > div:nth-child(1) {
    width: 50%;
    padding-right: 10px;
}

.inputs_two_cols > div:nth-child(2) {
    width: 50%;
    padding-left: 10px;
}

.inputs_two_cols .input_box input {
    width: 100%;
}

.buttons_wrapp {
    margin: 0 -17px;
}

.buttons_wrapp > div {
    padding: 7px 17px;
}

.buttons_wrapp {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 10px -18px;
}

.buttons_wrapp > div {
    padding: 5px 18px;
}

.buttons_wrapp .red_pill {
    min-width: 188px;
}

.violet_link_2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #741b75;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.violet_link_2:link,
.violet_link_2.visited {
    border-bottom: 1px dotted transparent;
}

.violet_link_2:active,
.violet_link_2.active {
    border-bottom: 1px dotted #741b75;
}

.violet_link_2:hover {
    border-bottom: 1px dotted #741b75;
}

.dropdown_box_wrapp .placeholder_box {
    height: 0;
    overflow: hidden;
}

.right_image {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 50vw;
    overflow-y: hidden;
}

.right_image img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.filters_wrapp_2 {
    display: flex;
    display: -webkit-flex;
    padding: 4px 0 14px 0;
    border-bottom: 1px solid #e5e5e5;
}

.filters_wrapp_2 > div:nth-child(1) {
    width: calc(100% - 210px);
    padding: 10px 10px 10px 0;
}

.filters_wrapp_2 > div:nth-child(2) {
    width: 210px;
    padding: 10px 0 10px 10px;
    text-align: right;
}

.radio_buttons_wrapp {
    display: flex;
    display: -webkit-flex;
}

.radio_buttons_wrapp > div:nth-child(1) {
    width: 120px;
}

.radio_buttons_wrapp > div:nth-child(2) {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: calc(100% - 120px);
}

.radio_buttons_wrapp p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #4f4b4b;
}

.radio_filter {
    padding: 1px 15px;
}

.radio_filter label {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.radio_filter input {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.radio_filter span {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-bottom: 1px dotted #741b75;
    color: #741b75;
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
}

.radio_filter input:checked + span {
    border-bottom: 1px dotted #4f4b4b;
    color: #4f4b4b;
}

.filters_wrapp_2 > div:nth-child(2) p {
    text-align: right;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #4f4b4b;
}

.catalog_templ {
    display: flex;
    display: -webkit-flex;
    margin: 17px 0;
}

.catalog_templ .left {
    width: 280px;
}

.catalog_templ .right {
    width: calc(100% - 280px);
    padding-left: 20px;
}

.sidebar_title {
    padding: 1px 0 6px 0;
}

.sidebar_title h2 {

}

.sidebar_filters {
    padding: 14px 0 5px 0;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar_filters:last-child {
    border-bottom: none;
}

.sidebar_filters h3 {

}

.checkboxes_scrollbox {
    max-height: 200px;
    position: relative;
    padding: 0 0 7px 0;
}

.checkbox {
    padding: 6.5px 0;
}

.checkbox label {
    display: inline-block;
    vertical-align: top;
    padding-left: 26px;
    cursor: pointer;
    position: relative;
}

.checkbox input {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox input:checked:before {
    display: block;
    content: "";
    background-color: rgb(116, 27, 117);
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.checkboxes_scrollbox .mCSB_scrollTools .mCSB_draggerRail {
    width: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #e6e6e6 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #741b75 !important;
}

.checkboxes_scrollbox:before {
    content: "";
    width: calc(100% - 5px);
    height: 7px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.cards_wrapp {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -10px;
}

.object_card {
    width: calc(50% - 20px);
    min-height: 567px;
    margin: 10px;
    padding: 1px 19px 1px 19px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.object_card:hover {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .3);
}

.object_card_header {
    min-height: 82px;
    padding: 15px 0 8px 0;
}

.object_card_header a {
    font-size: 23px;
    line-height: 1.2;
    font-weight: 500;
    color: rgb(116, 27, 117);
    border-bottom: 2px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.object_card_header a:link,
.object_card_header a.visited {
    border-bottom: 2px solid transparent;
}

.object_card_header a:active,
.object_card_header a.active {
    border-bottom: 2px solid #741b75;
}

.object_card_header a:hover {
    border-bottom: 2px solid #741b75;
}

.object_card .img_box {
    height: 245px;
    position: relative;
    overflow: hidden;
}

.object_card .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.object_card .card_descript {
    padding: 13px 0;
    border-bottom: 1px solid #e5e5e5;
}

.object_card .card_descript p {
    padding: 4px 0;
    font-size: 16px;
    line-height: 18px;
    color: #4f4b4b;
}

.object_card .card_descript p span {
    font-weight: 500;
}

.violet_link_3 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #741b75;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.violet_link_3:link,
.violet_link_3.visited {
    border-bottom: 1px dotted transparent;
}

.violet_link_3:active,
.violet_link_3.active {
    border-bottom: 1px dotted #741b75;
}

.violet_link_3:hover {
    border-bottom: 1px dotted #741b75;
}

.card_footer {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 4px 0;
}

.card_footer > div:nth-child(1) {
    width: 50%;
    padding: 10px 5px 10px 0;
}

.card_footer > div:nth-child(2) {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 50%;
    padding: 10px 0 10px 5px;
}

.card_footer p {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: #565353;
}

.card_footer .red_pill {
    margin: 5px 0;
    padding-left: 30px;
    padding-right: 30px;
}

.pagination_wrapp {
    padding: 14px 0;
}

.pagination {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.pagination li {
    padding: 5px 10px;
}

.pagination li a {
    display: block;
    min-width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 17px;
    line-height: 30px;
    color: #9d9ea0;
    -webkit-transition-property: background, box-shadow, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, box-shadow, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, box-shadow, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, box-shadow, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, box-shadow, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.pagination li a:link,
.pagination li a.visited {
    background-color: rgb(255, 255, 255);
    color: #9d9ea0;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
}

.pagination li a:active,
.pagination li a.active {
    background-color: rgb(0, 0, 0);
    color: #fff;
    box-shadow: none;
}

.pagination li a:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
    box-shadow: none;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.map_wrapp {
    /*background-color: rgb(78, 75, 75);*/
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    position: relative;
}

#map {
    height: 400px;
    position: relative;
}

.hover_box {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    min-height: 135px;
    max-width: 290px;
    padding: 25px;
    background: rgba(78, 75, 75, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hover_box:before {
    display: block;
    content: "";
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: rgba(78, 75, 75, .7);
    position: absolute;
    top: 20px;
    left: 20px;
}

.hover_box > div {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hover_box a {
    position: relative;
    top: -3px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    border-bottom: 2px solid #fff;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.hover_box a:link,
.hover_box a.visited {
    border-bottom: 2px solid #fff;
}

.hover_box a:active,
.hover_box a.active {
    border-bottom: 2px solid transparent;
}

.hover_box a:hover {
    border-bottom: 2px solid transparent;
}

#map .ymaps-layers-pane {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}

#map .ymaps-logotype-div {
    display: none !important;
}

#map .ymaps-copyrights-legend {
    display: none !important;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4_mp {
    overflow: hidden;
}

.about_article {
    display: flex;
    display: -webkit-flex;
    min-height: 560px;
    margin: 28px 0 39px 0;
}

.about_article .left {
    width: 50%;
    position: relative;
}

.article_img_box {
    height: 100%;
    width: 50vw;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.article_img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.about_article .right {
    width: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 48px 0 0 20px;
}

.about_article .right > div {
    width: 100%;
}

.about_article {

}

.about_article h2 {
    padding: 9px 0;
}

.about_article  h4 {
    padding-bottom: 3px;
}

.about_article  p {
    padding: 10px 0;
}

.about_article ul {
    padding-left: 35px;
}

.about_article ul li {
    margin: 12px 0;
    padding-left: 30px;
    position: relative;
}

.about_article ul li:nth-child(1) {
    margin-top: 5px;
}

.about_article ul li:last-child {
    margin-bottom: 5px;
}

.about_article ul li:before {
    display: block;
    content: "";
    width: 3px;
    height: 3px;
    background-color: #565353;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 0;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 1 - Questions Page --*/

.questions_article {
    display: flex;
    display: -webkit-flex;
    margin: 13px 0;
}

.questions_article .left {
    width: 655px;
    padding-bottom: 42px;
}

.questions_article .right {
    width: calc(100% - 655px);
}

.questions_article h1 {
    letter-spacing: 3px;
    font-size: 50px;
    line-height: 1.2;
}

.drpdown_items {
    padding: 15px 0;
}

.drpdown_item {
    border-bottom: 1px solid #e5e5e5;
}

.drpdown_item_header {
    cursor: pointer;
    position: relative;
    padding: 24px 0 24px 50px;
}

.drpdown_item_header:before {
    display: block;
    content: "+";
    width: 31px;
    height: 31px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .09);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .09);
    position: absolute;
    top: 23px;
    left: 0;
    text-align: center;
    font-size: 25px;
    line-height: 29px;
    font-weight: 500;
}

.drpdown_item_header h3 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: #741b75;
}

.dropdown_item_box {
    display: none;
    padding: 0 10% 14px 0;
}

.dropdown_item_box p {
    font-size: 16px;
    line-height: 1.2;
    color: #4f4b4b;
}

.drpdown_item_header.active h3 {
    color: #565353;
}

.drpdown_item_header.active:before {
    content: "-";
    color: #565353;
}

.button_wrapp {
    padding: 21px 0;
}

.button_wrapp .red_pill {
    min-width: 187px;
}

.questions_article .right img {
    position: relative;
    top: 81px;
    left: 18%;
}

/*-- /Section 1 - Questions Page --*/

/*-- Section 2 - Questions Page --*/

.ask_form_article {
    display: flex;
    display: -webkit-flex;
    min-height: 564px;
    margin-bottom: 118px;
}

.ask_form_article .left {
    display: flex;
    display: -webkit-flex;
    width: 50%;
    position: relative;
}

.ask_form_article .right {
    display: flex;
    display: -webkit-flex;
    width: 50%;
    padding: 74px 0 0 20px;
}

.ask_form_article .left .img_wrapp {
    height: 100%;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: hidden;
}

.ask_form_article .left .img_wrapp img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.ask_form_wrapp form {
    margin: 42px 0 30px 0;
}

.ask_form {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 30px -10px;
}

.ask_form .input_wrapp {
    width: 50%;
    padding: 9px 10px;
}

.input_box_2 input {
    height: 50px;
    line-height: 50px;
}

.submit_wrapp {

}

.submit_wrapp button {
    min-width: 190px;
}

/*-- /Section 2 - Questions Page --*/

/*-- Section 1 - Appartments Page --*/

.h1_wrapp_2 {
    padding: 17px 0 25px 0;
}    

.filters_form_wrapp_2 {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .09);
    margin: 17px 0 13px 0;
    padding: 11px 30px 22px 30px;
}

.buttons_wrapp_2 {
    margin: 1px -18px;
}

/*-- /Section 1 - Appartments Page --*/

/*-- Section 3 - Appartments Page --*/

.map_wrapp_2 {
    margin-bottom: 122px;
}

/*-- /Section 3 - Appartments Page --*/

/*-- Section 1 - Contacts Page --*/

.sect_1_cp {
    padding: 40px 0;
    overflow: hidden;
}

.contacts_templ {
    display: flex;
    display: -webkit-flex;
    min-height: 565px;
}

.contacts_templ .left {
    width: 50%;
    padding: 22px 0;
}

.contacts_templ .right {
    width: 50%;
    position: relative;
}

.contacts_templ p {
    padding: 14px 0;
    font-size: 20px;
    line-height: 1.2;
    color: #565353;    
}

.contacts_templ p a {
    border-bottom: 1px solid transparent;
    font-size: 20px;
    line-height: 1.2;
    color: #741b75;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.contacts_templ p a:link,
.contacts_templ p a:visited {
    border-bottom: 1px solid transparent;
}

.contacts_templ p a.active,
.contacts_templ p a:active {
    border-bottom: 1px solid #741b75;
}

.contacts_templ p a:hover {
    border-bottom: 1px solid #741b75;
}

.contacts_templ .tel_link {
    font-size: 25px;
    line-height: 25px;
}

.contacts_templ .red_pill {
    margin: 28px 0;
}

.contacts_templ .right #map_2 {
    width: calc( 50vw - 40px );
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
}

.ask_form_wrapp_2 {
    padding-top: 20px;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 2 - Contacts Page --*/

.sect_2_cp {
    padding: 61px 0 11px 0;
}

/*-- /Section 2 - Contacts Page --*/
















/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}

.footer_section {
    background-color: #212121;
    padding-top: 11px;
}

.footer_row {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer_templ {
    display: flex;
    display: -webkit-flex;
}

.footer_templ > .left {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 56%;
    padding: 10px 10px 10px 0;
}

.footer_templ > .right {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 44%;
    padding: 10px 0 10px 10px;
}

.footer_templ > .left > div:nth-child(1) {
    width: 32%;
    padding-right: 10px;
}

.footer_templ > .left > div:nth-child(2) {
    width: 68%;
    padding-left: 10px;
}

.footer_templ > .right > div:nth-child(1) {
    width: 52%;
}

.footer_templ > .right > div:nth-child(2) {
    width: 48%;
    text-align: right;
}

.logo_footer {
    display: block;
    width: 129px;
    margin: 8px 0;
}

.logo_footer img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.footer_nav {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.footer_nav li {
    width: 50%;
    padding: 5px 0;
}

.footer_nav li a {
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.footer_nav li a:link,
.footer_nav li a:visited {
    border-bottom: 1px solid transparent;
}

.footer_nav li a:active,
.footer_nav li a.active {
    border-bottom: 1px solid #fff;
}

.footer_nav li a:hover {
    border-bottom: 1px solid #fff;
}

.footer_contacts {
    padding: 1px 0;
}

.footer_contacts p {
    padding: 3px 0;
    font-size: 17px;
    line-height: 19px;
    color: #ffffff;
}

.tel_link_2 {
    border-bottom: 1px solid transparent;
    color: #fff;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_link_2:link,
.tel_link_2:visited {
    border-bottom: 1px solid transparent;
    color: #fff;
}

.tel_link_2:active,
.tel_link_2.active {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.tel_link_2:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.footer_templ .red_pill {
    margin: 8px 0;
}

.corp_templ {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 7px 0;
}

.corp_templ > div:nth-child(1) {
    width: 50%;
    text-align: right;
    padding: 10px 15px 10px 0;
    position: relative;
}

.corp_templ > div:nth-child(2) {
    width: 50%;
    padding: 10px 0 10px 15px;
}

.corp_templ > div:nth-child(1):after {
    content: "";
    width: 2px;
    height: 14px;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    top: 13px;
    right: 0;
}

.corp_templ p {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.corp_templ p a {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.corp_templ p a:link,
.corp_templ p a:visited {
    border-bottom: 1px solid transparent;
    color: #fff;
}

.corp_templ p a:active,
.corp_templ p a.active {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.corp_templ p a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}